@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.green {
    color: #39B24A;
}

.red {
    color: #FC200C;
}

.white {
    color: white;
}

/* Estilos Header */

.header {
    display: flex;
    height: 100px;
    background-color: #222222;
    color: white;
    justify-content: space-between;
}

.header .logo {
    align-items: center;
    display: flex;
    min-width: 250px;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 20px;
}

.header .nav {
    display: flex;
    padding-right: 15px;
    align-items: center;
    text-align: right;
}

.header .nav__list {
    display: flex;
    gap: 20px;
    color: white;
    font-weight: 100;
}

.nav__list .list__item {
    color: white;
    font-weight: 300;
}

/* Estilos Main */

.main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 20px 10px;
    padding: 30px 10px;
    background-color: #E5E5E5;
    box-shadow: inset 0px 3px 6px gray;
}

.main .delivery {
    position: relative;
    width: 48%;
    border-radius: 6px;
    min-width: 400px;
}

.main .delivery h3 {
    position: absolute;
    top: 1em;
    left: 1em;
}

.main .delivery img {
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
    height: 100%;
}

.main .podio {
    width: 48%;
    background-color: white;
    border-radius: 6px;
    display: block;
    min-width: 400px;
    overflow: hidden;
    min-height: 286px;
}

.main .podio .podio__titulo {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    height: 20%;
}

.main .podio .podio__pizza {
    display: flex;
    height: 80%;
}

.main .podio .podio__pizza .podio__top {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: white;
}

.main .podio .podio__pizza .podio__top h3 {
    text-align: center;
    padding: 1em 0 10px 0;
    height: 20%;
}

.main .podio .top__list {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    font-weight: bold;
    justify-content: space-around;
    height: 80%;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.main .podio .top__list li {
    list-style: decimal;
}

.main .podio .podio__pizza .podio__tree {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.main .podio .podio__pizza .podio__tree img {
    width: 9em;
}

/* Estilos Footer */

.footer {
    padding: 0 35px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 150px;
    color: white;
}

.footer .nav {
    height: 100%;
}

.footer .nav__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.footer .foot__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}


